@{
    ViewBag.Title = "Home Page";
}



        <div class="jumbotron">
            <div class="text-center">
                <h1 class="letraFormal">
                    Tus datos, en buenas manos.
                    <img src="https://cdn.discordapp.com/attachments/642186199968120862/642203000768823296/Logo.png" class="img-fluid img-responsive center-block" alt="Responsive image" width="800" height="300">

                </h1>
            </div>
        </div>

        <div class="text-center letraPiola">
            <h1 >
                
                Group A es una empresa ubicada en San Miguel de Tucuman, Argentina, fundada por Ingenieros en Sistemas de Información, especializada en la administración de base de datos para empresas y organizaciones.
                
            </h1>
        </div>


        <div class="row class="col-xs-12">
            <div class="col-md-6 center-block">
                <h2 class="text-center">Mision</h2>
                <p class="letraPiola">
                    @ViewBag.Mision
                </p>
            </div>
            <div class="col-md-6 center-block">
                <img src="https://cdn.discordapp.com/attachments/305869331512950784/649108375480696853/Mision.png" class="img-fluid img-responsive center-block" alt="Responsive image" width="500" height="500">
            </div>

        </div>
    
        <div class="row class="col-xs-12">
            <div class="col-md-6 center-block">
                <img src="https://cdn.discordapp.com/attachments/305869331512950784/649108377724780575/Vision.png" class="img-fluid img-responsive center-block" alt="Responsive image" width="450" height="400">
            </div>
            <div class="col-md-6 center-block">
                <h2 class="text-center">Vision</h2>
                <p class="letraPiola">
                    @ViewBag.Vision
                </p>
            </div>

        </div>

        <div class="row class="col-xs-12">
            <div class="col-md-6 center-block">
                <h2 class="text-center">Objetivos</h2>
                <p class="letraPiola">
                    Nuestros objetivos son asegurar la disponibilidad de los datos, proponiendo acciones que ayuden a obtener datos con tiempos de respuestas óptimos para la organización. Estos datos deben estar seguros, y se deben establecer caminos para recuperarlos en caso de algún incidente. En términos de tecnologías se debe: Asegurar la continuidad operacional.

                    Ofreciendo una solución global a empresas, profesionales, administraciones y usuarios particulares, a todo el territorio nacional.

                </p>
            </div>
            <div class="col-md-6">
                <img src="https://cdn.discordapp.com/attachments/305869331512950784/649108380304015361/Objetivos.png" class="img-fluid img-responsive center-block" alt="Responsive image" width="300" height="300">
            </div>

        </div>
        <div class="row col-xs-12 text-center">
            <div class="col-md-2 text-center">
                <a href="https://www.facebook.com"><img src="https://blog.hubspot.es/hs-fs/hub/53/file-953681786-png/social-icons-02-1.png" border="0"></a>
            </div>

            <div class="col-md-2 text-center">
                <a href="https://www.twitter.com"><img src="https://blog.hubspot.es/hs-fs/hub/53/file-951108259-png/social-icons-01-2.png" border="0"></a>
            </div>

            <div class="col-md-2 text-center">
                <a href="https://www.google.com/intl/es_ALL/+/policy/"><img src="https://blog.hubspot.es/hs-fs/hub/53/file-951108319-png/social-icons-05.png" border="0"></a>
            </div>

            <div class="col-md-2 text-center">
                <a href="https://es.linkedin.com/"><img src="https://blog.hubspot.es/hs-fs/hub/53/file-951108339-png/social-icons-03-1.png" border="0"></a>
            </div>

            <div class="col-md-2 text-center">
                <a href="https://ar.pinterest.com/"><img src="https://blog.hubspot.es/hs-fs/hub/53/file-951108354-png/social-icons-04.png" border="0"></a>
            </div>
        </div>
    </div>
